body {
    padding: 0%;
    margin: 0%;
}

.htmlGen {
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid #c68181;
    padding-left: 1%;
    background-image: linear-gradient(70deg, #000000 300px, #11ff00 400px, #d3d3d3 400px, #d3d3d3 410px, #11ff00 410px, #11ff00 420px, #d3d3d3 420px, #d3d3d3 430px, #11ff00 430px, #11ff00 440px, #d3d3d3 440px, #d3d3d3 450px, #11ff00 450px, #11ff00 460px, #d3d3d3 460px);
    margin: 0%;
    color: whitesmoke;
}

.commandContainer {
    display: flex;
    align-items: center;
    gap: 2%;
    border-bottom: 2px solid #c68181;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    background-color: #f5f5f5;
}

.buttonContainer {
    display: flex;
    gap: 1em;
}

.commandBreaker {
    background: #c68181;
    padding: 0 .08em;
    height: 3em;
}

.container {
    width: calc(100vw - 0vw);
    height: calc(100vh - 0vh);
    overflow-wrap: break-word;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}

.buttonRow {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

#darkContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

button {
    font-family: 'Courier New', Courier, monospace;
}

select {
    font-family: 'Courier New', Courier, monospace;
}